<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="drums-container" data-controller="drums" data-drums-sound-value="<%= asset_path('kick.wav') %>">
  <button data-action="drums#playDrums">here is the kick</button>
</div>

